* {
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  font: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  
  &:disabled{
    cursor: auto;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

input,
textarea,
select,
option,
button {
  display: block;
  color: inherit;
  background-color: inherit;
}