@use '../../../../styles/variables.scss' as *;

.wrapper {
  display: flex;
  flex-direction: column;
}

.title {}

.input {
  padding: 4px;
  border-radius: 3px;
  border: 1px solid $second-color;

  &::placeholder {
    color: $second-soft-color;
  }
}